@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/webfonts/poppins/poppins-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

html,
body,
#root {
  min-height: 100%;
}
body {
  background: #0a0a0a;
  color: #fafafa;
}
